# Using Google Geocoding API to get lat and long info for cities

**NOTE TO SELF** this notebook contains an API Key -- fix that before you post

In [1]:
from dotenv import load_dotenv
import os
load_dotenv()

True

In [6]:
import pandas as pd
import requests

/Users/jessieblaeser/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [7]:
#Google geocoding api key: 

#Testing to see if a single city name will pull up the lat and long for a city 
api_key = os.getenv('api_key')
address = 'paris'

In [8]:
params = {
    'key': api_key,
    'address': address
}

url = 'https://maps.googleapis.com/maps/api/geocode/json?'
response = requests.get(url, params=params)
response.json()['results']

[]

In [34]:
#Grabbing lat and long

#lat 
response.json()['results'][0]['geometry']['location']['lat']

#long
response.json()['results'][0]['geometry']['location']['lng']

2.3522219

In [42]:
#Grabbing country name just in case we need that later 
response.json()['results'][0]['formatted_address']

#or, use these to get the full name of the country or the "short name," which I assume is its 2-letter country code 
response.json()['results'][0]['address_components'][3]['long_name']
response.json()['results'][0]['address_components'][3]['short_name']

'FR'

In [92]:
# Now going to figure out how to grab these results for a list of cities and add them to my diff
import pandas as pd
import numpy as np 

df = pd.read_csv("tickets.csv")
df.head()

,City A,Formatted City A,City B,Formatted City B,Points,Long_Regular,Category
0,Brest,"Brest, France",Petrograd,"Saint Petersburg, Russia",20,1,Long
1,Lisboa,"Lisbon, Portugal",Danzic,"Gdansk, Poland",20,1,Long
2,Palermo,"Palermo, Italy",Moskva,"Moscow, Russia",20,1,Long
3,Kobenhavn,"Copenhagen, Denmark",Erzurum,"Erzurum, Turkey",21,1,Long
4,Edinburgh,"Edinburgh, Scotland",Athína,"Athens, Greece",21,1,Long

In [93]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [56]:
#Testing the API request by converting the city_a column to a list and running it through the API 

cities_a = df['city_a'].tolist()
for city in cities_a[:3]: 
    address = city 
    url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    response = requests.get(url, params=params)
    print(response.json()['results'][0]['geometry']['location']['lat'])
    print(address)
    print('----')

48.856614
Brest
----
48.856614
Lisboa
----
48.856614
Palermo
----
48.856614
Kobenhavn
----
48.856614
Edinburgh
----

In [95]:
#Coverting my df BACK into a list of dictionaries, so I can more easily add the new values I want: 
    # lat
    # long
    # country
    # country code (just in case)
    
tickets = df.to_dict('records') 
#tickets

In [110]:
# for ticket in tickets: 
#     print(ticket['formatted_city_a'])
#     print('----')
#     print(ticket['formatted_city_b'])
#     print('----')

## **ALERT** : THE FOLLOWING 2 CELLS CONTAINS AN API KEY!!

In [118]:
#Here, we are appending the lat and long for every city_a

for ticket in tickets: 
    address = ticket['formatted_city_a']
    api_key = "AIzaSyAulLDLePdccPw0uf51WxKWjHcNTm7I0Bs"
    params = {
    'key': api_key,
    'address': address}
    url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    response = requests.get(url, params=params)
    data = response.json()['results'][0]
    try: 
        ticket['lat_city_a'] = data['geometry']['location']['lat']
        ticket['long_city_a'] = data['geometry']['location']['lng']
#         print(address)
#         print(ticket['long_city_a'])
#         print(ticket['lat_city_a'])
#         print('---')
    except: 
        print('problem!!')

Brest, France
-4.486076
48.390394
---
Lisbon, Portugal
-9.1393366
38.7222524
---
Palermo, Italy
13.3614868
38.11569
---
Copenhagen, Denmark
12.5683372
55.6760968
---
Edinburgh, Scotland
-3.188267
55.953252
---
Cadiz, Spain
-6.2885962
36.5270612
---
Athens, Greece
23.7275388
37.9838096
---
Frankfurt, Germany
8.6821267
50.1109221
---
Berlin, Germany
13.404954
52.52000659999999
---
Amsterdam, Netherlands
4.9041389
52.3675734
---
Stockholm, Sweden
18.0685808
59.32932349999999
---
Kyiv, Ukraine
30.5234
50.4501
---
Zagreb, Croatia
15.9819189
45.8150108
---
Warsaw, Poland
21.0122287
52.2296756
---
Zurich, Switzerland
8.541694
47.3768866
---
Zurich, Switzerland
8.541694
47.3768866
---
Paris, France
2.3522219
48.856614
---
Brest, France
-4.486076
48.390394
---
London, England
-0.1275862
51.5072178
---
Amsterdam, Netherlands
4.9041389
52.3675734
---
Paris, France
2.3522219
48.856614
---
Barcelona, Spain
2.168568
41.3873974
---
Marseille, France
5.36978
43.296482
---
Rome, Italy
12.4963655
41.9027835
---
Paris, France
2.3522219
48.856614
---
Brest, France
-4.486076
48.390394
---
Barcelona, Spain
2.168568
41.3873974
---
Smolensk, Russia
32.0503663
54.7903112
---
Madrid, Spain
-3.7037902
40.4167754
---
Palermo, Italy
13.3614868
38.11569
---
Berlin, Germany
13.404954
52.52000659999999
---
Madrid, Spain
-3.7037902
40.4167754
---
Sarajevo, Bosnia
18.4130763
43.8562586
---
Kyiv, Ukraine
30.5234
50.4501
---
Brussels, Belgium
4.3571696
50.8476424
---
Berlin, Germany
13.404954
52.52000659999999
---
Riga, Latvia
24.1051865
56.9496487
---
Venice, Italy
12.3155151
45.4408474
---
Ankara, Turkey
32.8597419
39.9333635
---
London, England
-0.1275862
51.5072178
---
Essen, Germany
7.0115552
51.4556432
---
Frankfurt, Germany
8.6821267
50.1109221
---
Rostov, Russia
39.4131527
57.195623
---
Athens, Greece
23.7275388
37.9838096
---
Budapest, Hungary
19.040235
47.497912
---
Sofia, Bulgaria
23.3218675
42.6977082
---

In [119]:
#And here, we are appending the lat and long for every city_b


for ticket in tickets: 
    address = ticket['formatted_city_b']
#    print(address)
    api_key = "AIzaSyAulLDLePdccPw0uf51WxKWjHcNTm7I0Bs"
    params = {
    'key': api_key,
    'address': address}
    url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    response = requests.get(url, params=params)
    data = response.json()['results'][0]
    ticket['lat_city_b'] = data['geometry']['location']['lat']
    ticket['long_city_b'] = data['geometry']['location']['lng']
#     print(address)
#     print(ticket['lat_city_b'])
#     print(ticket['long_city_b'])
#     print('---')

In [122]:
df = pd.DataFrame(tickets)

In [126]:
df = df.drop('ct_code_city_a', 1)

/var/folders/qx/nkh2pq6x3_193757ddxvrcf40000gp/T/ipykernel_56896/3290772431.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop('ct_code_city_a', 1)

In [128]:
#And now we have our new df with location data! 

df.head()

,city_a,formatted_city_a,city_b,formatted_city_b,points,long_regular,category,lat_city_a,long_city_a,lat_city_b,long_city_b
0,Brest,"Brest, France",Petrograd,"Saint Petersburg, Russia",20,1,Long,48.390394,-4.486076,59.931058,30.360910
1,Lisboa,"Lisbon, Portugal",Danzic,"Gdansk, Poland",20,1,Long,38.722252,-9.139337,54.352025,18.646638
2,Palermo,"Palermo, Italy",Moskva,"Moscow, Russia",20,1,Long,38.115690,13.361487,55.755826,37.617300
3,Kobenhavn,"Copenhagen, Denmark",Erzurum,"Erzurum, Turkey",21,1,Long,55.676097,12.568337,39.905499,41.265824
4,Edinburgh,"Edinburgh, Scotland",Athína,"Athens, Greece",21,1,Long,55.953252,-3.188267,37.983810,23.727539

In [130]:
#df.to_csv('tickets_latlong.csv', index=False)

# Applying the same API request for to Europe_city_info.csv

In [3]:
import pandas as pd
df = pd.read_csv('Europe_city_info.csv')
df.head()
# copy and paste city name, and then do google api

        city  train_routes_per_city  tunnel_count  ferry_route_count
0  Amsterdam                      4             0                  1
1     Angora                      3             2                  0
2     Athina                      4             0                  2
3  Barcelona                      3             1                  0
4     Berlin                      7             0                  0

In [5]:
df2 = pd.read_csv('tickets_latlong.csv')
df2.head()

,city_a,formatted_city_a,city_b,formatted_city_b,points,long_regular,category,lat_city_a,long_city_a,lat_city_b,long_city_b
0,Brest,"Brest, France",Petrograd,"Saint Petersburg, Russia",20,1,Long,48.390394,-4.486076,59.931058,30.360910
1,Lisboa,"Lisbon, Portugal",Danzic,"Gdansk, Poland",20,1,Long,38.722252,-9.139337,54.352025,18.646638
2,Palermo,"Palermo, Italy",Moskva,"Moscow, Russia",20,1,Long,38.115690,13.361487,55.755826,37.617300
3,Kobenhavn,"Copenhagen, Denmark",Erzurum,"Erzurum, Turkey",21,1,Long,55.676097,12.568337,39.905499,41.265824
4,Edinburgh,"Edinburgh, Scotland",Athína,"Athens, Greece",21,1,Long,55.953252,-3.188267,37.983810,23.727539

In [12]:
#merged = df.merge(products, left_on='Product_1', right_on='Value')
#dfnew = pd.merge(df_district,df2, how ='left', left_on='properties', right_on='properties.DISTRICT')
merged = pd.merge(df,df2, how='inner', left_on='city', right_on='city_a')

In [29]:
import pandas as pd
import requests
df = pd.read_csv('Europe_city_info_formatted.csv')
df = df.drop(['train_routes_per_city', 'tunnel_count','ferry_route_count', 'city'], 1)
cities = df.to_dict('records')

/var/folders/qx/nkh2pq6x3_193757ddxvrcf40000gp/T/ipykernel_83138/4227922560.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop(['train_routes_per_city', 'tunnel_count','ferry_route_count', 'city'], 1)

In [30]:

for city in cities: 
    address = city['city_formatted']
    api_key = "AIzaSyAulLDLePdccPw0uf51WxKWjHcNTm7I0Bs"
    params = {
    'key': api_key,
    'address': address}
    url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    response = requests.get(url, params=params)
    data = response.json()['results'][0]
    city['lat_city'] = data['geometry']['location']['lat']
    city['long_city'] = data['geometry']['location']['lng']
#     print(address)
#     print(city['lat_city'])
#     print(city['long_city'])
#     print('---')

Amsterdam, Netherlands
52.3675734
4.9041389
---
Ankara, Turkey
39.9333635
32.8597419
---
Athens, Greece
37.9838096
23.7275388
---
Barcelona, Spain
41.3873974
2.168568
---
Berlin, Germany
52.52000659999999
13.404954
---
Brest, France
48.390394
-4.486076
---
Brindisi, Italy
40.6327278
17.9417616
---
Brussels, Belgium
50.8476424
4.3571696
---
Bucharest, Romania
44.4267674
26.1025384
---
Budapest, Hungary
47.497912
19.040235
---
Istanbul, Turkey
41.0082376
28.9783589
---
Cadiz, Spain
36.5270612
-6.2885962
---
Gdansk, Poland
54.35202520000001
18.6466384
---
Dieppe, France
49.922992
1.077483
---
Edinburgh, Scotland
55.953252
-3.188267
---
Erzurum, Turkey
39.9054993
41.2658236
---
Essen, Germany
51.4556432
7.0115552
---
Frankfurt, Germany
50.1109221
8.6821267
---
Kharkiv, Ukraine
49.9935
36.230383
---
Copenhagen, Denmark
55.6760968
12.5683372
---
Kyiv, Ukraine
50.4501
30.5234
---
Lisbon, Portugal
38.7222524
-9.1393366
---
London, England
51.5072178
-0.1275862
---
Madrid, Spain
40.4167754
-3.7037902
---
Marseille, France
43.296482
5.36978
---
Moscow, Russia
55.755826
37.6172999
---
Munich, Germany
48.1351253
11.5819805
---
Palermo, Italy
38.11569
13.3614868
---
Pamplona, Spain
42.812526
-1.6457745
---
Paris, France
48.856614
2.3522219
---
Saint Petersburg, Russia
59.9310584
30.3609096
---
Riga, Latvia
56.9496487
24.1051865
---
Rome, Italy
41.9027835
12.4963655
---
Rostov, Russia
57.195623
39.4131527
---
Sarajevo, Bosnia
43.8562586
18.4130763
---
Sevastopol, Crimea
44.61665
33.5253671
---
Smolensk, Russia
54.7903112
32.0503663
---
Izmir, Turkey
38.423734
27.142826
---
Sochi Russia
43.60280789999999
39.7341543
---
Sofia, Bulgaria
42.6977082
23.3218675
---
Stockholm, Sweden
59.32932349999999
18.0685808
---
Venice, Italy
45.4408474
12.3155151
---
Warsaw, Poland
52.2296756
21.0122287
---
Vienna, Austria
48.2081743
16.3738189
---
Vilnius, Lithuania
54.6871555
25.2796514
---
Zagreb, Croatia
45.8150108
15.9819189
---
Zurich, Switzerland
47.3768866
8.541694
---

In [34]:
df = pd.DataFrame(cities)

In [36]:
#df.to_csv('cities.csv', index=False)

# Now feeding routes.csv into API

In [46]:
df_routes = pd.read_csv('routes.csv')
df_routes.columns = df_routes.columns.str.lower().str.replace(' ', '_')
df_routes.head()
routes = df_routes.to_dict('records')

In [47]:
for route in routes: 
    address = route['city_a_formatted']
    api_key = "AIzaSyAulLDLePdccPw0uf51WxKWjHcNTm7I0Bs"
    params = {
    'key': api_key,
    'address': address}
    url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    response = requests.get(url, params=params)
    data = response.json()['results'][0]
    route['lat_city_a'] = data['geometry']['location']['lat']
    route['long_city_a'] = data['geometry']['location']['lng']

In [48]:
for route in routes: 
    address = route['city_b_formatted']
    api_key = "AIzaSyAulLDLePdccPw0uf51WxKWjHcNTm7I0Bs"
    params = {
    'key': api_key,
    'address': address}
    url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    response = requests.get(url, params=params)
    data = response.json()['results'][0]
    route['lat_city_b'] = data['geometry']['location']['lat']
    route['long_city_b'] = data['geometry']['location']['lng']

In [50]:
df = pd.DataFrame(routes)

In [51]:
#df.to_csv('routes.csv', index=False)